.advertising {
    height: 100vh;
    width: 100%;
    background: blue url("https://images.pexels.com/photos/30820/pexels-photo-30820.jpg?h=350&auto=compress") center no-repeat;
    background-size: cover;
    .container {
        height: 100%;
    }
    .slogan {
        bottom: 10px;
        left: 10px;
        width: 50%;
        @media (max-width: 767px) {
            width: 80%;
        }
    }
}