.header {
    height: 100vh;
    min-height: 400px;
    width: 100%;
    background: blue url("https://images.pexels.com/photos/175709/pexels-photo-175709.jpeg?h=350&auto=compress&cs=tinysrgb") center no-repeat;
    background-size: cover;
    .picture {
        bottom: -35%;
        left: 50vw;
        img {
            height: 100vh;
            width: auto;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            bottom: 10%;
            img {
                height: 80vh;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .slogan {
        top: 50vh;
        left: 20vw;
        width: 25vw;
        min-width: 275px;
        @media (max-width: 767px) {
            top: auto;
            bottom: 10vh;
        }
        @media (max-width: 364px) {
            width: 80vw;
            left: 10vw;
            min-width: 0;
        }
    }
    .take {
        left: 20vw;
        top: 40px;
        color: white;
        @include black-thin-shadow;
        .text {
            font-style: italic;
            padding-left: 10px;
        }
    }
}
